.chat-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  
  .chat-wrapper {
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: flex-start;
    gap: 13px;
    flex-shrink: 0;
    bottom: 0px;
    position: absolute;
    height: 94vh;
    width: 500px;
    background-color: #fff;
    right: 35%;
  }

  .bottom-bar {
    display: flex;
    align-self: center;
    width: 100%;

    .message-input {
      flex: 1;
      margin-right: 1rem; 
    }
  }
