.container {
  display: flex;
}

.leftContent {
  display: flex;
  flex-direction: column;
}

.rightContent {
  display: flex;
  /* margin-left: 575px; */ /* This is for when the buttons are displaying */
  margin-left: 650px; /* This is for when the buttons are not displaying */
}
