.page-content {
  display: flex;
  flex-direction: row;
  column-gap: 20pt;
}

.page-content>div:nth-child(2) {
  flex-grow: 1;
}

#search-bar {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  margin-bottom: 20pt;
}

#search-bar>div {
  flex-grow: 1;
}

.MuiOutlinedInput-input {
  color: #fff !important;
}

.sidebar {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.section .MuiTextField-root {
  margin-left: 15pt;
}

.section .MuiTextField-root:nth-of-type(2) {
  margin-bottom: 5pt;
}
