/* hideScrollbar.css is meant to be imported for any file to hide the scrollbar */
body {
    scrollbar-width: none;
    -ms-overflow-style: none; /*IExplorer and Edge*/
    -moz-scrollbar-width: none; /*Firefox*/
}
  
body::-webkit-scrollbar {
    display: none; /*Chrome, Safari, and Opera*/
}

#root {
    scrollbar-width: none;
    -ms-overflow-style: none; /*IExplorer and Edge*/
    -moz-scrollbar-width: none; /*Firefox*/
}
  
#root::-webkit-scrollbar {
    display: none; /*Chrome, Safari, and Opera*/
}