.selectors-wrapper {
  display: flex;
  padding-bottom: 15px;
  gap: 20px;
  flex-direction: column;
  flex-basis: auto;
}

.page-header {
  display: flex;
  align-items: center;
}

.page-content {
  display: flex;
  flex-direction: row;
  column-gap: 20pt;
}

.page-content > div:nth-child(2) {
  flex-grow: 1;
}

.relation-button.selected {
  background-color: #8a2be2;
  color: #fff;
}
