# Builds, runs tests, publishes artifacts

name: Build ForcesUnite

on: push

jobs:
  build-api:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '7.0.x'
          include-prerelease: true

      - name: Build with .NET
        run: |
            cd FU.API
            dotnet build
        shell: pwsh

      - name: Publish
        run: |
          cd FU.API
          dotnet publish
        shell: pwsh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: .net-app
          path: D:\a\PalmettoProgrammers\PalmettoProgrammers\FU.API\FU.API\bin

      - name: Test
        run: |
            cd FU.API
            dotnet test
        shell: pwsh

  build-spa:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14'

      - name: Install dependencies
        run: |
          cd FU.SPA
          npm install

      - name: Run linter
        run: |
          cd FU.SPA
          npm run lint
        continue-on-error: true

      - name: Check formatting
        run: |
          cd FU.SPA
          npm run format-check